body {
    position: relative;
    font-family:Georgia, serif;
    background-color: rgb(170, 163, 154);
    margin: 0;
    padding: 0;
}

 .container{
   text-align: center;
   max-width: 500px;
   margin: 50px auto;
   background-color: rgba(83, 83, 83, 0.555);
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgb(0,0,0.1);
 
   
}

h1{
    text-align: center;
    color: #000000;
}

#weather-info {

    text-align: center;
}
.city {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.icon1 {
    display: block; 
    margin: 0 auto 10px; 
}

.description {
    font-style: italic;
    margin-bottom: 10px; 
    
}
.icon3{
  position: absolute;
  bottom: 30px;
  margin-left: auto;
  ;
}

.temp{
    position: absolute;
    bottom:30px;
    margin-left: auto;
    
    
}

.humidity{
    position:absolute;
    bottom: 30px;
    right: 40px; 
    margin-right: 510px;

}

.icon3 {
    position: absolute;
    bottom: 30px;
    right: 65px;
    margin-right: 520px;

}
.boutonMeteo {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(88, 81, 81);
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }
  
  .boutonMeteo:hover {
    background-color: rgb(189, 176, 176);
  }
  
  .boutonMeteo:active {
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }
  